{
  "psql": {
    "username": "postgres",
    "password": "secret",
    "database": "postgres",
    "host": "localhost",
    "dialect": "postgres"
  },
  "mssql": {
    "host": "localhost",
    "server": "localhost",
    "username": "DB_USERNAME",
    "password": "DB_PASSWORD",
    "database": "DB_NAME",
    "dialect": "mssql",
    "port": 1433,
    "logging": false,
    "dialectOptions": {
      "options": {
        "cryptoCredentialsDetails": {
          "minVersion": "TLSv1.2"
        },
        "enableArithAbort": true,
        "connectTimeout": 10000,
        "requestTimeout": 15000
      }
    }
  }
}

